<template name="plantDetail">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">This is the plant detail for {{plantName}}</h1>
    </div>
  </div>
  {{#each sensor in sensors}}
    <div class="col-md-6">
      {{> sensorChartPanel type=sensor plantId=plantId}}
    </div>
  {{/each}}
</template>

<template name="sensorChartPanel">
  {{#bigPanel panelHeading=heading}}
    <div id="{{plantId}}{{type}}" class="ct-chart ct-perfect-fourth"></div>
  {{/bigPanel}}
</template>