<template name="plantList">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Plants</h1>
    </div>
  </div>
  <div class="row">
  {{#each plants}}
    <div class="col-lg-4 col-sm-6 col-xs-12">
      {{> plantPanel}}
    </div>
  {{/each}}
  </div>
</template>

<template name="plantPanelPlain">
  <div>
    {{_id}} AKA {{plantName}} @ {{location}}
    <ul>
      {{#each sensor in sensors}}
        {{> sensorDisplay type=sensor plantId=_id}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="sensorDisplayPlain">
  <li>{{type}}
    <ul>
      {{#each datapoint}}
        <li>{{date}} - {{value}}</li>
      {{/each}}
    </ul>
  </li>
</template>