<template name="header">
<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}"><i class="fa fa-leaf"></i> SproutUp</a>
            </div>
            <!-- /.navbar-header -->
            {{> dropdownNotifications}}

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="{{pathFor 'home'}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{{pathFor 'plants'}}"><i class="fa fa-tree fa-fw"></i> Plants</a>
                        </li>
                        <li>
                            <a href="{{pathFor 'panel'}}"><i class="fa fa-file-o fa-fw"></i> Panels</a>
                        </li>
                        {{#if isInRole 'admin'}}
                        <li>
                            <a href="{{pathFor 'users'}}"><i class="fa fa-users fa-fw"></i> Users</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
</template>