<template name="panel">
<div class='wrapper'>
			 <div class = "row">
			 	 <div class = "col-xs-4">
				 	<h1>News</h1>
				 </div>
				 <div class = "col-xs-4">
				 	<h1>Healthiest Plants</h1>
				 </div>
				 <div class = "col-xs-4">
				 	<h1>Top Users</h1>
				 </div>
			 </div>

            <div class="row testingdrag">
                <div class="col-lg-4">
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            Default Panel
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Primary Panel
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Success Panel
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>



			 <div class = "row">
				 <div class = "col-xs-6">
				 	<h1>Plants</h1>
					<div class = "plants-drag">
		                <div class="col-lg-6">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Jared's Plant
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                        	<p>
		                        	<img src = "conifer.jpeg" class = "plant-img">
		                        	</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>


		                <div class="col-lg-6">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Justin's Plant
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                        	<p>
		                        	<img src = "conifer.jpeg" class = "plant-img">
		                        	</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>


		                <div class="col-lg-6">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Anonymous Plant 1
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                            <p>
		                        	<img src = "conifer.jpeg" class = "plant-img">
		                        	</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>


		                <div class="col-lg-6">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Anonymous Plant 2
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>	<p>
		                        	<img src = "conifer.jpeg" class = "plant-img">
		                        	</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>
					</div>
				 </div>
				 <div class = "col-xs-6">
				 	<h1>Users</h1>
					<div class = "users-drag">

		                <div class="col-lg-4">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Jared Page
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>

		                <div class="col-lg-4">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Justin Rahardjo
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>

		                <div class="col-lg-4">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Anonymous User
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>

		                <div class="col-lg-4">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Mr Derp
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>

		                <div class="col-lg-4">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Mr Herp
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>

		                <div class="col-lg-4">
		                    <div class="panel panel-default" >
		                        <div class="panel-heading">
		                            Anonymous User 2
		                        </div>
		                        <div class="panel-body">
		                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
		                        </div>
		                        <div class="panel-footer">
		                            Panel Footer
		                        </div>
		                    </div>
		                </div>

					</div>
				 </div>
			 </div>

</div>



</template>