<template name="panel">
<div class='wrapper'>
			 <div class = "row">
			 	 <div class = "col-xs-6">
				 	<h1>News</h1>
				 </div>
				 <div class = "col-xs-6">
				 	<h1>Healthiest Plants</h1>
				 </div>
			 </div>

            <div class="row testingdrag">
                <div class="col-lg-6">
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            Current News
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        <div class="panel-footer">
                            Urgent plant alerts: none
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Most Healthy
                        </div>
                        <div class="panel-body">
                        	<ol>
							  {{#each plants}}
							    <li> {{plantName}}</li>
							  {{/each}}
							</ol>
                        </div>
                        <div class="panel-footer">
                            Least Healthy
                        </div>
                    </div>
                </div>
            </div>

			 <div class = "row">
				 <div class = "col-xs-12">
				 	<h1>Plants</h1>
					<div class = "plants-drag">						

					  {{#each plants}}
					    {{> plantPanel}}
					  {{/each}}

					</div>
				 </div>
				
			 </div>

</div>



</template>





<template name="plantPanel">
  {{#bigPanel panelHeading=heading panelFooter=footer}}
    <div class = "row">
      <div class = "col-xs-9">
          <h3 style="margin-top: 0;">Latest Readings</h3>
          <ul>
          {{#each sensor in sensors}}
            {{> sensorLatest type=sensor plantId=_id}}
          {{/each}}
          </ul>
      </div>
      <div class = "col-xs-3 text-center">
        <img src = "img/{{plantName}}.jpg" class = "plant-img">
      </div>
    </div>
  {{/bigPanel}}


</template>


<template name="sensorLatest">
  <li>
    <h4><i class="fa fa-{{icon}}"></i> {{typeName}} <strong>{{latestdatapoint.value}}</strong> <small>{{timeFromX latestdatapoint.date}}</small></h4>
  </li>
</template>


<template name="sensorDisplay">
  <li>{{type}}
    <ul>
      {{#each datapoint}}
        <li>{{date}} - {{value}}</li>
      {{/each}}
    </ul>
  </li>
</template>





<template name="plantDetail">
This is the plant detail
</template>